.marque{
    color: var(--color-light);
    /* margin: 0 ; */
    padding-bottom: 2rem;
    font-size: 4vw;
    display: flex;
        flex-direction: row;
        /* justify-content: space-evenly; */
}
#exm>* {
    margin-left: 5vh;
}
.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}

.experience__container >div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;

}

.experience__container>div>h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details{
    display: flex;
    gap: 1rem;

}

.experience__details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}





/* =======================mobile device========================= */
@media screen and (max-width: 1024px) {

    .experience__container{
        grid-template-columns: 1fr;

    }
    .experience__container>div{
        width: 80%;
        padding: 2rem;
        margin: auto 0;
    }
    .experience__content{
        padding: 1rem;
    }

}



/* =======================mobile device========================= */
@media screen and (max-width: 600px) {
  .experience__container{
    gap: 1rem;
    overflow: hidden;
    padding-left: 0.5rem;
  }
  .experience__container>div{
    width: 95%;
    padding: 2rem 2.5rem;
    overflow: hidden;
  }
  #exm>* {
      margin-left: 2vh;
  }
  .marque {
      color: var(--color-light);
      font-size: 5vh;
  }
}



.spinner {
    align-self: center;
    align-items: center;
    align-content: center;
    width: 57.6px;
    height: 57.6px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}

.spinner>div {
    background-color: rgba(1, 151, 246, 0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2.9px solid #0197f6;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-28.8px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(28.8px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

.cent {
    align-items: center;
    left: auto;
    margin: auto;
    padding-left: calc(50vw - 28.2px) ;
    padding-bottom: 2rem;
    margin-top: -5rem;
    /* border: 100px; */
}








